* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header, footer{
  background-color: rgb(181, 3, 3);
 
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 50px;

}
footer {
  color: #fff;
  justify-content: space-evenly;
}
header nav a{
  margin-right: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 19px;

}
header nav a:hover{
color: rgb(248, 252, 0);
}
#section-one {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: repeat(5, 100px);
  margin: 100px 200px;
  box-shadow: 2px 2px 10px 5px rgb(228, 228, 228);
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

#section-one #div-one {
  grid-column: 2/3;
  grid-row: 2/5;
}
#section-one #div-two {
  grid-column: 3/4;
  grid-row: 2/5;
  display: flex;
  justify-content: center;
}

#section-one img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#section-one #div-one h1 {
  font-size: 50px;
}
#section-one a {
  background-color: rgb(181, 3, 3);
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  font-size: 19px;
  font-weight: bold;
 text-decoration: none;
}

#section-one a:hover {
color: rgb(248, 252, 0);
}
#section-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  animation: fadeIn 1s ease-in-out forwards;
  margin: 100px 200px 100px 200px;
}

#section-two .recipe {
  border: 1px solid rgb(181, 3, 3);
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#section-two .recipe img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#section-two .recipe h1 {
  padding: 10px;
}

#section-two .recipe p {
  color: #838383;
  line-height: 25px;
  padding: 0 10px;
}

#section-two .recipe a {
  background-color: rgb(181, 3, 3);
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  margin: 20px 10px;
  border-radius: 5px;
}

#section-two .recipe a:hover {
  background-color: rgb(226, 5, 5);
}

/* Responsive Design */
@media (max-width: 1000px) {
  #section-two {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1400px) {
  #section-two {
    margin: 100px 20px;
  }
}
@media (max-width: 768px) {
  #section-two {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  #section-one {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(8, 100px);
    gap: 10px;
    margin: 100px 20px;
  }
  #section-one #div-one,
  #section-one #div-two {
    grid-column: 2/3;
  }
  #section-one #div-one {
    grid-row: 1/5;
  }
  #section-one #div-two {
    grid-row: 5/9;
  }
  #section-one #div-one {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 850px) and (min-width: 599px) {
  #section-one {
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: repeat(8, 100px);
    gap: 10px;
    margin: 100px 100px;
  }
  #section-one #div-one,
  #section-one #div-two {
    grid-column: 2/3;
  }
  #section-one #div-one {
    grid-row: 1/5;
  }
  #section-one #div-two {
    grid-row: 5/9;
  }
  #section-one #div-one {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 1400px) and (min-width: 851px) {
  #section-one {
    margin: 100px 20px;
  }
}
